{% extends "base.html" %}

{% block title %}О факультете ИТ{% endblock %}

{% block content %}
<h2>О факультете информационных технологий</h2>

<h3>Общая информация</h3>
<p>Факультет информационных технологий Московского университета имени Витте осуществляет подготовку высококвалифицированных IT-специалистов.</p>

<h3>Направления подготовки</h3>
<ul>
    <li>Информационные системы и технологии</li>
    <li>Программная инженерия</li>
    <li>Бизнес-информатика</li>
    <li>Компьютерные науки</li>
</ul>

<h3>Наши преимущества</h3>
<ul>
    <li>Современные лаборатории и компьютерные классы</li>
    <li>Преподаватели-практики из ведущих IT-компаний</li>
    <li>Стажировки у партнеров факультета</li>
    <li>Участие в научных конференциях и хакатонах</li>
</ul>
{% endblock %}